<%= form_for [@trip, @review] do |f| %>
  <div>
    <%= f.label :rating, "Rate the driver" %>
    <%= f.select :rating, options_for_select(["", 1, 2, 3, 4, 5]) %>
  </div>
  <div>
    <%= f.label :review_body, "Review" %>
    <%= f.text_field :review_body %>
  </div>
  <div>
    <%= f.submit "Post Review" %>
  </div>
<% end %>
