<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FastRides" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="logo"><%= link_to "FASTRIDES", root_path%></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

    <ul class="right">
      <li class="active">
        <% if user_signed_in? %>
          <% unless current_user.profile_photo.nil? %>
            <%= image_tag "#{current_user.profile_photo}", size: "30x30" %>
          <% end %>

        <li class="has-dropdown">
          <a href="#"><%= current_user.first_name %></a>
          <ul class="dropdown">
            <li><%= link_to "My profile", user_path(current_user) %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'Update', edit_user_registration_path, method: :get %></li>
            <li><%= link_to "#{current_user.email}", user_path(current_user) %></li>
          </ul>
          </li>
        <% else %>
            <li class="active"><%= link_to 'Sign In', new_user_session_path %></li>
            <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
        <% end %>
      </li>
  </section>
</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert">
    <% if alert.class == Array %>
      <% alert.each do |alert| %>
        <ul><%= alert %></ul>
        <% end %>
    <% else %>
      <%= alert %>
    <% end %>
  </p>



    <%= yield %>
    <div class="footer">
        <div class="row">
          <div class="small-12 columns">
            <h4 class="slogan">FastRides</h4>
            <p class="copywrite">Copyright © 2016</p>
          </div>
        </div>
      </div>

  </body>
</html>
